header {
    height: 5em;
    background-color:rgb(77, 150, 247);
    background-image: url(../img/pattern.png);
    background-size: 25%;
}

.logo{
    width: 15%;
}

.highlight{
    background-color: rgba(251, 255, 22, 0.72);
}

th{

}

.rigaHead{
    color: white;
    background-color: rgb(56, 158, 219);
}
.rigaDispari{
    background-color: rgb(175, 224, 238) ;
}