header {
    height: 5em;
    background-color:rgb(77, 150, 247);
    background-image: url(../img/pattern.png);
    background-size: 25%;
}

.logo{
    width: 15%;
}

.highlight1{
    background-color: rgba(251, 255, 22, 0.72);
}